{% extends "base.html.twig" %}

{% block title %}Codex des plantes du quizz{% endblock %}

{% block stylesheets %}<link rel="stylesheet" href="css/codex.css">{% endblock %}
{% block javascript %}<script src="js/codex.js" defer></script>
<script src="https://kit.fontawesome.com/015d178d74.js" crossorigin="anonymous"></script>{% endblock %}

{% block body %}
	<section class="codex">

		<a href="/codex"><h1>Liste des plantes {% if isAdmin %}(accès admin){% endif %}</h1></a>

        <div class="filter">

            <div class="search-bar">
                <select id="famille">
                    <option value="all">Choisir une famille</option>
                    {% for famille in familles %}
                        <option value="{{famille['famille']}}">{{famille['famille']|capitalize}}</option>
                    {% endfor %}
                </select>

                <div class="search">
                    <input type="text" id="latin">
                    {# <label for="latin">Recherche</label> #}
                </div>

                <div class="add">
                    <p class="addBtn">Soumettre une nouvelle plante</p>
                </div>
                <div class="addForm hidden">
                    <p class="message"></p>
                    <form id="submission" name="submission" enctype="multipart/form-data">
                        <input type="text" id="nameFr" placeholder="Nom commun (fr)">
                        <input type="text" id="nameEn" placeholder="Nom commun (en)">
                        <input type="text" id="family" placeholder="Famille">
                        <input type="text" id="gender" placeholder="Genre">
                        <input type="text" id="species" placeholder="Espèce">
                        <input type="text" id="cultivar" placeholder="Cultivar">
                        <input type="text" id="blossom" placeholder="Dates de floraison">
                        <select id="category">
                            <option value="arbre">Arbre</option>
                            <option value="arbrisseau">Arbrisseau</option>
                            <option value="arbuste">Arbuste</option>
                            <option value="fougère">Fougère</option>
                            <option value="liane">Liane</option>
                            <option value="palmier">Palmier</option>
                            <option value="plante">Plante</option>
                        </select>
                        <input type="file" id="image" name="image" class="fileInput" accept="image/png, image/jpeg">
                        <button class="addSubmit">Envoyer</button>
                    </form>
                    <p class="image-info">Attention : votre image doit faire une taille de 600px * 600px et peser moins de 200ko.</p>
                </div>
            </div>            

            <div class="checkboxes">
                {% for categorie in categories %}
                    <div class="checkbox">
                        <input type="checkbox" id="{{categorie['Categorie']}}" checked="false" class="checkbox-category">
                        <label for="{{categorie['Categorie']}}">{{categorie['Categorie']|capitalize}}</label>
                    </div>
                {% endfor %}
                <div class="checkbox">
                    <input type="checkbox" id="checkAll" data-id="checkAll" checked>
                    <label for="checkAll">Tout cocher</label>
                </div>                 
            </div>
            <p><span class="count"></span> plantes sélectionnées
            {% if isAdmin %}
                <a href="#pending"><span class="pending-count"></span></a>
            {% endif %}
            </p>
        </div>

		<div class="codex-grid">
			{% for plante in plantes %}
                {% if plante.active %}
                <div class="card-container-active" data-category={{plante.Categorie}} data-family={{plante.famille}}>
                    <div class="card">
                    <div class="alert"><p class="alert-message"></p></div>
                        <h3 class="title" style="background-color: {{ plante.Categorie == 'fougère' ?
                            '#FFE588' : plante.Categorie == 'arbrisseau' ?
                            '#FFB169' : plante.Categorie == 'arbuste' ?
                            '#FF9FC2' : plante.Categorie == 'arbre' ?
                            '#F15050' : plante.Categorie == 'palmier' ?
                            '#9ACCA5' : plante.Categorie == 'liane' ?
                            '#A1CED6' : plante.Categorie == 'plante' ?
                            '#6FC15A' }}">{{plante.nom_latin}}</h3>
                        <p class="label">Nom commun :</p>
                        <p class="data vernacular">{{plante.nom_fr}}</p>
                        <p class="label">Famille :</p>
                        <p class="data family">{{plante.famille}}</p>
                        <p class="label">Genre :</p>
                        <p class="data gender">{{plante.nom_latin|split(' ')[0]}}</p>
                        <p class="label">Espèce :</p>
                        <p class="data species">{{plante.nom_latin|split(' ')[1]}}</p>
                        <p class="label">Cultivar :</p>
                        <p class="data cultivar">{{plante.cultivar}}</p>
                        <img class="image" src="/img/{{ plante.image }}" alt="Image de {{ plante.nom_latin }}">
                    </div>
                    {% if isAdmin %}
                    <p class="pending-btns" data-id={{plante.id}}><span class="accept hidden"></span><span class="fa-solid fa-xmark fa-2x reject btn"></span><span class="fa-solid fa-pen-to-square fa-2x edit btn"></span></p>
                    {% endif %}
                </div>
                {% endif %}
			{% endfor %}
		</div>

        {% if isAdmin %}
        <h3 id="pending" class="pending-title">Soumissions en attente :</h3>
        <div class="pending-grid">
            {% for plante in plantes %}
                {% if not plante.active %}
                <div class="card-container-inactive" data-category={{plante.Categorie}} data-family={{plante.famille}}>
                    <div class="card">
                    <div class="alert"><p class="alert-message"></p></div>
                        <h3 class="title" style="background-color: {{ plante.Categorie == 'fougère' ?
                            '#FFE588' : plante.Categorie == 'arbrisseau' ?
                            '#FFB169' : plante.Categorie == 'arbuste' ?
                            '#FF9FC2' : plante.Categorie == 'arbre' ?
                            '#F15050' : plante.Categorie == 'palmier' ?
                            '#9ACCA5' : plante.Categorie == 'liane' ?
                            '#A1CED6' : plante.Categorie == 'plante' ?
                            '#6FC15A' }}">{{plante.nom_latin}}</h3>
                        <p class="label">Nom commun :</p>
                        <p class="data vernacular">{{plante.nom_fr}}</p>
                        <p class="label">Famille :</p>
                        <p class="data family">{{plante.famille}}</p>
                        <p class="label">Genre :</p>
                        <p class="data gender">{{plante.nom_latin|split(' ')[0]}}</p>
                        <p class="label">Espèce :</p>
                        <p class="data species">{{plante.nom_latin|split(' ')[1]}}</p>
                        <p class="label">Cultivar :</p>
                        <p class="data cultivar">{{plante.cultivar}}</p>
                        <img class="image" src="/img/{{ plante.image }}" alt="Image de {{ plante.nom_latin }}" loading="lazy">
                    </div>
                    <p class="pending-btns" data-id={{plante.id}}><span class="fa-solid fa-check fa-2x accept btn"></span><span class="fa-solid fa-xmark fa-2x reject btn"></span><span class="fa-solid fa-pen-to-square fa-2x edit btn"></span></p>
                </div>
                {% endif %}
			{% endfor %}
        </div>
        {% endif %}

	</section>
{% endblock %}
