{% extends "base.html.twig" %}

{% block title %}Quizz sur les plantes{% endblock %}

{% block body %}

<main>
    <section>
        <h1>Résultats : {{ score }} / {{ questions|length }}</h1>
        {% for index, question in questions %}
        <p>{{ index + 1 }} - {{ question }}</p>
        <p>Réponse : {{ answers[index] }}</p>
        <p>Votre réponse : <span class={{ answers[index] == proposals[index] ? "success" : "error"}}>{{ proposals[index] }}</span></p>
        {% endfor %}
        <a href="/quizz">Recommencer</a>
    </section>
</main>
{% endblock %}