{% extends "base.html.twig" %}

{% block title %}Résultats du quizz{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="/css/results.css">
{% endblock %}

{% block body %}
<main>
    <section>
        <h1>Résultats : {{ score }} / {{ quizz|length }}</h1>
        <a href="/quizz">Recommencer</a>
        {% for index, question in quizz %}
        <div class="anwser-card">
            <p>{{ index }} - {{ question["question"] }}</p>
            {% if question["image"] != "" %}
            <img src="/img/{{ question["image"]}}" class="image">
            <p>Réponse : {{ question["answer"] }}</p>
            <p>Votre réponse : <span class={{ question["answer"]==question["proposal"] ? "success" : "error" }}>{{
                    question["proposal"] ? question["proposal"] : "Non répondu" }}</span></p>
            {% else %}
            <p>Réponse : <img src="/img/{{ question["answer"] }}" class="image"></p>
            <p>Votre réponse : 
                {% if question["proposal"] %}
            <img src="/img/{{ question["proposal"] }}" class={{ question["answer"]==question["proposal"]
                    ? "'image image-success'" : "'image image-error'" }}>
                {% else %}
                    <span class="error">Non répondu</span>
                {% endif %}
            </p>
            {% endif %}
        </div>
        {% endfor %}
    </section>
</main>
{% endblock %}